/* FOOTER */

.footer {
  background-color: #007BFF;
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
  
}

.footer .container {
  justify-content: center;
  text-align: center;
}
.version{
 display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  width: 40px;
}

.footer .container .version {
 font-size: 12px;
}