@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container {
  display: flex;
  width: 80%;
  margin: auto;
  
}

.container p{
  background: rba(255, 255, 255, 0.4);
    backdrop-filter: blur(0.2vw);
}



.header {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1vw);
  height: 60px;
  border-bottom: 2px solid #000000;
  
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: #fcfcfc;
}

.agora {
  font-weight: 800;
}

.navbar {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}


.navbar li {
  margin-left: 20px; 
  color: white; 
}

  
/* Sobre escola */

.sobreEscola {
  background-color: #ffffff;
  
}
.sobreEscola p {
    font-size: 20px;
    line-height: 1.7;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.sobreEscola .container {
  display: flex;
  background-color: #003f5c;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 0;
}


.sobreEscola h2 {
  font-size: 42px;
  margin-bottom: 20px;
  font-weight: 800;
  color: #000;
}

.sobreEscola p {
  font-size: 20px;
  line-height: 1.7;
  font-weight: 600;
  color: #000;
}
.sobreEscola .card{
  display: flex;
  width: 95%;
  align-items: center;
   padding: 40px;
}


/* MINHA HISTÓRIA */

.minhaHistoria {
  background: #f4f4f4;
  padding: 80px 0;
  text-align: center;
}

.minhaHistoria h1 {
  font-size: 48px;
  margin-bottom: 50px;
}

/* CARD  */
.minhaHistoria .card {
  display: flex;
  align-items: center;
  gap: 40px;

  background: #ffffff;
  padding: 40px;
  border-radius: 22px;

  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
  max-width: 1200px;
  margin: 0 auto 60px auto;
}

.card.reverse {
  flex-direction: row-reverse;
}

/* Imagens */
.card .img img {
  width: 350px;
  border-radius: 18px;
  border: 8px solid #000;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}

/* Texto */
.card .texto h3 {
  font-size: 22px;
  line-height: 1.6;
  text-align: left;
}

/* Responsividade */
@media (max-width: 850px) {
  .card,
  .card.reverse {
    flex-direction: column;
    text-align: center;
  }

  .card .img img {
    width: 100%;
    max-width: 350px;
  }

  .card .texto h3 {
    text-align: center;
  }
}

/* BANNER */

.banner {
  height: 100vh;
  color: rgb(0, 0, 0);
  background-image: url('../assets/imgs/fachada.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
  
.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner .container p {
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 36px;
}

.banner .container span {
  font-weight: 800;
}
