
body{
    display: flex;
    justify-content: center;
    background-color: #e6fafe;
    font-family: 'Montserrat';
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
  

.container{
margin-left: 10px;
margin-right: 100px;
}
.container-pai{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main{
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    margin-left: 10px;
    margin-left: 10px;
}
.div_button{
    display: flex;
  flex-direction: column;
  align-items: center;

}
button {
  background-color: black;
  color: #ffff;
  font-size: 20px;
  border-radius: 10px;
  height: 50px;
  width: 400px;
  border-style: solid;
 
  margin-top: 20px;
  cursor: pointer;
}
button:hover {
  background-color: #ffff;
  color: black;
  transition: 0.5s;
}
