header {
    display: flex;
    align-items: center;
    background-color: aqua;
    width: 100%;
    
}

body {
    background: url('../img/fachada.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
