body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    width: 100%;
    min-height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
        background-image: url(../assets/imgs/SALAarvore.png) ;
   
}
    
    .banner{
        overflow: hidden;
        width: 100%;
    }
    .banner .container{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    }

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.card {
    margin: 15px 0;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 80%;
    max-width: 900px;
}
.conteudo-aberto{
    box-shadow: 0 2px 10px rgba(0,0,0,0.7);
    display: flex;
    font-family: Arial, sans-serif;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(1vw);
}

.titulo {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.conteudo {
    margin-top: 15px;
    color: #333;
    line-height: 1.6;
    text-align: center; 
}

ul {
    text-align: left;  
    margin-left: 35%;
}

.button {
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #0a00c5;
  width: 120px;
  height: 30px;
  margin-top: 20px;
}





