/* body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}


.sidebar {
    width: 220px;
    height: 100vh;
    background: #004aad;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
}

.sidebar img {
    width: 120px;
    display: block;
    margin: 0 auto 50px auto;
}

.sidebar p {
    
    text-align: center;
    font-size: 14px;
    margin-bottom: 100px;
}

.sidebar .menu-item {
    width: 100px;
    align-items: center;
    margin: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
   
}


.content {
    margin-left: 230px;
    padding: 20px;
}

.titulo {
    background: black;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 6px;
    margin-bottom: 20px;
}


.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    background: black;
    color: white;
    padding: 20px;
    flex: 1;
    border-radius: 6px;
    text-align: center;
    height: 120px;
}


.linha {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.box {
    background: black;
    color: white;
    padding: 20px;
    border-radius: 6px;
    flex: 1;
    height: 260px;
}


.ranking {
    font-size: 14px;
    line-height: 26px;
} */
 /* dash.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}


.sidebar {
    width: 220px;
    height: 100vh;
    background: #004aad;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
}

.sidebar img {
    width: 120px;
    display: block;
    margin: 0 auto 50px auto;
}

.sidebar p {
    
    text-align: center;
    font-size: 14px;
    margin-bottom: 100px;
}

.sidebar .menu-item {
    width: 100px;
    align-items: center;
    margin: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
    
}


.content {
    margin-left: 230px;
    padding: 20px;
}

.titulo {
    background: black;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 6px;
    margin-bottom: 20px;
}


.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    background: black;
    color: white;
    padding: 20px;
    flex: 1;
    border-radius: 6px;
    text-align: center;
    height: 120px;
}


.linha {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.box {
    background: black;
    color: white;
    padding: 20px;
    border-radius: 6px;
    flex: 1;
    height: 260px;
}


.ranking {
    font-size: 14px;
    line-height: 26px;
}