/* LOGIN */

.login {
    height: 100vh; 
    background-image: url('../assets/imgs/entrada1.png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.login .container {
    justify-content: center;
    align-items: center;  
    height: 100%; 
    width: 100%; 
}

.card {
    width: 450px;
    max-width: 90%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(255, 255, 255);
    flex-direction: column;
    height: fit-content;
    padding: 30px 20px;
}

.um,.tres{
  justify-content: start;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #00000000;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid #00000000;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #ED145B;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(119, 210, 255);
  background-image: url('../assets/imgs/entrada.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1vw);
  height: 60px;
  border-bottom: 2px solid #000000;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: #ffffff;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #000000;
}

.titulo {
  color: #ffffff;
  width: fit-content;
  font-weight: 500;
  
}

.header h1 {
  margin: 0;
}


